<div ng-controller="ActivityCtrl">
    <h1>Activities</h1>
    
    <table class="table  table-dark table-bordered table-striped">
        <thead>
            <th scope="col">#</th>
            <th scope="col">
                <button ng-click="doReverse()">Name</button>
                <span class="sortorder" ng-class="{reverse: reverse}"></span>
            </th>
            <th scope="col">Action</th>
        </thead>
        <tbody ng-repeat="a in activities | orderBy: 'name':reverse">
            <tr>
                <td scope="row"></td>
                <td>{{a.name}}</td>
                <td>
                    <button ng-click="toEditActivity(a.id)">edit</button>
                    <button ng-click="doDeleteActivity(a.id)">delete</button>
                    <button ng-click="viewActivity(a.id)">view</button>
                </td>
            </tr>
        </tbody>
    </table>

    <button ng-click="toAddActivity()"  class="btn btn-primary">Create Activity</button>

</div>